@import '../../styles/mixins.scss';

.eventCard {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  .imgWrapper {
    position: relative;
    width: 100%;
    height: 400px;
    transition: all 0.15s ease-in-out;
    background-color: color(grey-color);
    .img {
      width: 100%;
      height: 100%;
      transition: all 0.15s ease-in-out;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      mix-blend-mode: luminosity;
      @include hover {
        mix-blend-mode: normal;
      }
    }
  }

  .title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 500;
    @include respond-to('mobile') {
      font-size: 1.5rem;
    }
  }
}

.dateWrapper {
  display: flex;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  gap: 1rem;
  .date {
    font-weight: 400;
    margin: 0.5rem 0 0.5rem;
    padding-right: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
    @include respond-to('mobile') {
      margin: 0.5rem 0 0.5rem;
    }
  }
}
