@import '../../styles/mixins.scss';

.topBanner {
  position: absolute;
  top: 1rem;
  left: calc(11vw + 2rem);
  width: calc(100% - 11vw - 3rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  z-index: 2;
  .bannerTitle {
    margin-bottom: 0;
  }
  .bannerSection {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
  }
  .line {
    background: #000;
    height: 1px;
    flex: 1;
  }
}

.contentWrapper {
  padding-top: 31vh;
  padding-bottom: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
}
