.wrapper {
  position: relative;
  .input {
    width: 100%;
    &.simple {
      border: none;
      border-bottom: 1px solid #757575;
      opacity: 0.3;
      transition: all 0.15s ease-in;
      &:focus {
        opacity: 1;
        outline: none;
      }
    }
    &.search {
      height: 44px;
      border-radius: 999px;
      padding-left: 1rem;
      padding-right: 50px;
      background-color: transparent;
    }
  }
  .searchIcon {
    position: absolute;
    right: 0.8rem;
    top: 0.3rem;
  }
}
