@import '../../styles/mixins.scss';

.logo {
  display: flex;
  font-size: 11vw;
  font-weight: 900;
  margin: 0;
  line-height: 0.7;

  .f {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 2;
  }
  .ine {
    position: absolute;
    top: 1rem;
    left: 13.5vw;
    z-index: 2;
  }
  @include respond-to('tablet-sm') {
    .ine {
      left: 14.8vw;
    }
  }
  @include respond-to('mobile') {
    .f {
      top: 0.5rem;
      left: 0.5rem;
    }
    .ine {
      top: 0.5rem;
    }
  }
}
