@import "../../styles/mixins.scss";

.logo {
  display: flex;
  padding: 1rem;
  .f {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }
  .ine {
    margin-left: 196px;
    margin-top: -1px;
    z-index: 2;
  }
}

.canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(25% - 0.25rem);
  height: 300px;
  background: color(bg-grey-color);
  canvas {
    cursor: pointer;
  }
}
