@import '../../styles/mixins.scss';

.logo {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  .f {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 5;
  }
  .ine {
    position: fixed;
    top: 1rem;
    left: 13.5vw;
    z-index: 4;
    transition: all 0.15s ease-in;
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    &:hover {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    @include respond-to('mobile') {
      position: absolute;
      transform: none;
      opacity: 1;
      right: 0.5rem;
      left: auto;
      &:hover {
        transform: none;
      }
    }
  }
  .f:hover + .ine {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  @include respond-to('mobile') {
    .f {
      top: 0.5rem;
      left: 0.5rem;
    }
    .ine {
      top: 0.5rem;
    }
  }
}
