@import '../../styles/mixins.scss';

.btn {
  border: none;
  background: black;
  color: color(bg-grey-color);
  padding: 0 1rem;
  cursor: pointer;
  &.overBlack {
    background-color: black;
    border: 1px solid color(bg-grey-color);
    &:hover {
      background-color: rgba(255, 255, 255, 0.03);
    }
  }
  &:disabled {
    opacity: 0.3;
  }
}
