@import "../mixins.scss";

.artwork {
  position: relative;
  .gallery {
    height: calc(200vh - 2.8rem);
    background-color: color(white-color);
  }

  .canvasWrapper {
    position: sticky;
  }

  .details {
    height: calc(100vh);
    background: color(black-color);
  }
}
