.leftPadding {
  padding-left: calc(25% + 0.75rem);
}

.heroWrapper {
  height: calc(95vh - 165px);
  @extend .leftPadding;
}

.newsAndEventsWrapper {
  @extend .leftPadding;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  position: relative;
}

.carouselWrapper {
  position: sticky;
  top: 1rem;
  left: 0;
}
.newsWrapper {
  .newsCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
