@import '../mixins.scss';

.pageWrapper {
  background: color(white-color);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  margin-top: -100px;
  min-height: calc(var(--vh, 1vh) * 100 - 100px);
  .col {
    flex: 1;
    padding-top: calc(240px + 1rem);
  }
  .firstCol {
    position: relative;
    .contentWrapper {
      position: sticky;
      top: calc(140px + 1rem);
      .searchWrapper {
        width: 100%;
        margin-bottom: 2rem;
      }
      .miniGallery {
        display: flex;
        gap: 3px;
        flex-wrap: wrap;
        max-height: 200px;
        overflow-y: auto;

        a {
          display: inline-block;
          font-size: 0;
        }
      }
    }
  }
  .secondCol {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 100px;
    .artworkCard {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      gap: 1rem;
      padding: 1rem 0;
      border-bottom: 1px solid color(grey-color);
      .cardImage {
        flex: 1;
        transition: all 0.15s ease-in;
        cursor: pointer;
        @include hover {
          box-shadow: 0 4px 25px -9px #000;
        }
      }
      .cardContent {
        flex: 1;
        height: 100%;
        width: 100%;
        transition: all 0.15s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &.open {
          left: calc(100% + 1rem);
        }
        .price {
          display: flex;
          align-items: center;
          gap: 0.3rem;
        }
        .artworkName {
          margin: 0 0 0.5rem;
        }
      }
    }
  }
  .lastCol {
    .aboutContent {
      position: sticky;
      top: 1rem;
    }
  }
}
