@import '../mixins.scss';
@import '../components.scss';

.logoLetters {
  font-weight: 900;
  font-size: 24.8vw;
  margin: 0;
  line-height: 0.75;
  @include respond-to('mobile') {
    font-size: 24.5vw;
  }
}

.stickyF {
  position: fixed;
  top: 1.5vw;
  left: 1.5vw;
  color: black;
  z-index: 3;
}

.FPadding {
  padding: 1rem;
  padding-left: 29vw;
}

.link {
  font-family: Syne;
  text-decoration: underline;
  font-weight: 600;
  &.discordLink {
    font-weight: 900;
  }
}

.inputWrapper {
  display: flex;
  gap: 0.5rem;
  max-width: 400px;
  input {
    border: 1px solid;
    height: 45px;
    background: transparent;
    width: 100%;
    padding: 0 0.5rem;
    transition: all 0.15s ease-in;
    &:focus {
      background: #fff;
      outline: none;
      border: none;
    }
  }
  .btn {
    border: none;
    background: black;
    color: white;
    padding: 0 1rem;
  }
  &.overBlack {
    input {
      color: color(grey-color);
      background-color: rgba(255, 255, 255, 0.03);
    }
    .btn {
      background-color: transparent;
      border: 1px solid color(grey-color);
    }
  }
}

.home {
  background-color: color(grey-color);
  .hero {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    .ctaContainer {
      display: flex;
      align-items: flex-end;
      padding: 1.8rem;
      z-index: 2;
      @include respond-to('tablet-sm') {
        flex: 0;
        width: 100px;
      }
      @include respond-to('mobile') {
        align-items: flex-start;
        padding-top: 36vw;
      }
      .rotateCTA {
        transform-origin: bottom left;
        left: 0;
        bottom: 0;
        transform: rotate(-90deg) translateY(100%);
        .heroCTA {
          display: flex;
          text-align: left;
          align-items: center;
          gap: 1rem;
          font-size: 1.5rem;
          cursor: pointer;
          h5 {
            margin: 0;
            font-weight: 400;
          }
        }
      }
    }
    .heroContent {
      display: flex;
      .content {
        flex: 1;
        z-index: 2;
        .textXL {
          font-size: 1.8rem;
          @include respond-to('tablet-sm') {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  .when {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    gap: 3vw;
    background-color: black;
    color: color(grey-color);
    align-items: end;
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include respond-to('tablet-sm') {
      grid-template-columns: 1fr;
      grid-column: span 1;
    }
    overflow: hidden;
    .whenWrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 2;
      @include respond-to('tablet-sm') {
        margin-bottom: 0;
      }
    }
    .dateWrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @include respond-to('tablet-sm') {
        margin-bottom: 0;
      }
      .year {
        user-select: none;
        font-size: 16vw;
        margin: 0;
        line-height: 0.8;
        font-weight: 800;
        &:first-child {
          line-height: 0.5;
        }
      }
      @include respond-to('tablet-sm') {
        .year {
          font-size: 32vw;
        }
      }
    }
  }
  .joinUs {
    position: relative;
    height: 100%;
    padding-left: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-flow: row nowrap;
    overflow-y: hidden;
    @include respond-to('tablet-sm') {
      padding-left: 30vw;
    }
    .joinUsSection {
      min-width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      border-left: 1px solid #000;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.15s ease-in;
      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
      &:last-child {
        border-right: 1px solid #000;
      }
      @include respond-to('mobile') {
        min-width: 90vw;
        padding: 0.5rem;
        padding-bottom: 3rem;
      }
      .cardTitle {
        display: flex;
        align-items: flex-end;
      }
      .cardTitle,
      .cardContent {
        flex: 1;
        .text {
          font-size: 1.5rem;
          @include respond-to('mobile') {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .blank {
    flex: 1;
    @include respond-to('tablet-sm') {
      display: none;
    }
  }
}

.container {
  padding: 0 0.4vw;
  @include respond-to('tablet-sm') {
    padding: 0 0.5rem;
  }
}

.text {
  font-size: 1.25rem;
  line-height: 1.25;
  @include respond-to('tablet-sm') {
    font-size: 1rem;
  }
}
.subheader {
  font-size: 2.5rem;
  margin-top: 0;
  @include respond-to('tablet-sm') {
    font-size: 1.5rem;
  }
}

.footer {
  background: #fff;
  min-height: 80vh;
  display: flex;
  align-items: center;
  @extend .FPadding;
  .footerContent {
    padding: 0 3vw;
    .text {
      font-size: 1.5rem;
      @include respond-to('mobile') {
        font-size: 1rem;
      }
    }
    .subheader {
      white-space: nowrap;
    }
    @include respond-to('tablet-sm') {
      display: block;
    }
  }
  @include respond-to('tablet-sm') {
    min-height: 60vh;
    padding: 0;
  }
}
