@import '../../styles/mixins.scss';

.embla {
  width: 100%;
  overflow: hidden;
  .emblaContainer {
    display: flex;
    .emblaSlide {
      position: relative;
      flex: 0 0 100%;
    }
  }
}
.dotsWrapper {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}
.emblaDot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 30px;
  height: 30px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
  &:after {
    background-color: color(grey-color);
    width: 12px;
    height: 12px;
    border-radius: 8px;
    content: '';
    @include respond-to('mobile') {
      width: 10px;
      height: 10px;
    }
  }
  &.selected:after {
    background-color: color(darkgrey-color);
    opacity: 1;
  }
}
