.pageWrapper {
  min-height: calc(var(--vh, 1vh) * 100 - 44px);
  position: relative;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  gap: 1rem;
  .firstCol {
    position: sticky;
    top: 1rem;
    height: calc(var(--vh, 1vh) * 100 - 44px - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    margin: 0;
    font-weight: 400;
    .blank {
      min-height: 7vw;
    }
    .subtitle {
      font-weight: 400;
      text-transform: uppercase;
    }
    .pageTitle {
      font-weight: 400;
      font-size: 1.6rem;
    }
  }
}
