@import '../../styles/mixins.scss';

.footer {
  background-color: color(white-color);
  z-index: 3;

  .container {
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .social {
    display: flex;
    gap: 1rem;
  }

  .copyright {
    margin-bottom: 0.5rem;
  }
}
