@import '../../styles/mixins.scss';

.home {
  background-color: color(grey-color);
  min-height: calc(var(--vh, 1vh) * 100 - 44px);
  display: flex;
  justify-content: center;
  align-items: center;
}
