@import '../styles/mixins.scss';

.pageWrapper {
  padding: 1rem;
  padding-bottom: 0;
  overflow-x: hidden;
  @include respond-to('tablet-sm') {
    padding: 0.5rem;
  }

  p {
    max-width: 600px;
  }
  .about {
    min-height: calc(var(--vh, 1vh) * 100 - 16vw - 1rem);
    padding-left: calc(28vw + 2rem);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .content {
      max-width: 600px;
      font-size: 2.8rem;
    }

    @include respond-to('tablet-sm') {
      padding-left: 40px;
      min-height: calc(var(--vh, 1vh) * 100 - 16vw - 0.5rem);
      .content {
        font-size: 1.6rem;
      }
    }
  }
  .upcoming {
    position: relative;
    background: color(white-color);
    min-height: calc(var(--vh, 1vh) * 100);
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding-top: 4rem;
    padding-right: 1rem;
    @include respond-to('tablet-sm') {
      padding-top: 1rem;
    }
  }

  .join {
    padding: 4rem 0 0;
    padding-left: calc(28vw + 2rem);
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    font-size: 1.2rem;
    line-height: 1.25;
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      background-color: black;
      width: calc(100% - 28vw - 2rem);
      height: 1px;
      content: '';
      @include respond-to('tablet-sm') {
        width: calc(100% - 80px);
      }
      @include respond-to('mobile') {
        width: calc(100% - 40px);
      }
    }

    @include respond-to('tablet-sm') {
      gap: 4rem;
      padding-left: 80px;
    }

    @include respond-to('mobile') {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      padding-left: 40px;
    }
    .content {
      max-width: 450px;
      .title {
        font-size: 2.8rem;
        font-weight: 400;
        @include respond-to('tablet-sm') {
          margin-bottom: 2rem;
        }
      }
    }
    .joinus {
      max-width: none;
      grid-column: 1 / span 2;
      text-align: center;
      display: flex;
      justify-content: center;
      margin-top: 4rem;
      padding-top: 11rem;
      padding-bottom: 3rem;
      overflow: hidden;
      position: relative;
      @include respond-to('tablet-sm') {
        margin-top: 0;
        padding-top: 8rem;
        padding-bottom: 4rem;
      }
      @include respond-to('mobile') {
        margin-top: 0;
        padding-top: 3rem;
        padding-bottom: 2rem;
        grid-column: 1 / span 1;
      }
      &::after {
        border-radius: 999999px;
        position: absolute;
        top: 0%;
        right: 15%;
        border: 1px solid;
        width: 70%;
        aspect-ratio: 1;
        content: '';
        @include respond-to('tablet-sm') {
          width: 80%;
          right: 10%;
        }
        @include respond-to('mobile') {
          background: white;
          width: 80%;
          right: 10%;
          top: 80px;
          border: none;
          z-index: -1;
        }
      }
      .inner {
        max-width: 450px;
        @include respond-to('tablet-sm') {
          max-width: 330px;
        }
      }
    }
  }
}

.project {
  padding-left: calc(28vw + 2rem);
  margin-bottom: 4rem;
  min-height: calc(var(--vh, 1vh) * 50);
  @include respond-to('tablet-sm') {
    margin-bottom: 2rem;
    padding-left: 80px;
  }
  @include respond-to('mobile') {
    padding-left: 40px;
  }
  .content {
    position: sticky;
    top: 0;
    right: 0;
    gap: 1rem;
    .header {
      margin-bottom: 4rem;
      @include respond-to('tablet-sm') {
        margin-bottom: 1rem;
      }
      .title {
        font-weight: 400;
        font-size: 5rem;
        margin: 0;
      }
      .artist {
        font-size: 2.8rem;
        font-weight: 400;
        margin: 0;
      }
    }
  }
  .bottom {
    display: grid;
    gap: 2rem;
    grid-template-columns: 3fr 2fr;
    .canvasWrapper {
      width: 100%;
      aspect-ratio: 1;
      background-image: linear-gradient(to left, #ffb50d, #ffbf06, #ffc801, #ffd200, #fedc00);
      // border-radius: 999px;
      @include respond-to('tablet-sm') {
        width: 100%;
      }
    }
    .description {
      font-size: 1.2rem;
      line-height: 1.25;
    }
    @include respond-to('tablet-sm') {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }
  }
}
.slime {
  position: relative;
  padding-top: 2rem;

  &::after {
    position: absolute;
    top: 0;
    left: calc(28vw + 2rem);
    background-color: black;
    width: 20%;
    height: 1px;
    content: '';
    @include respond-to('tablet-sm') {
      width: 100%;
      left: 80px;
    }
    @include respond-to('mobile') {
      left: 40px;
    }
  }
}
.chunkyMouse {
  position: relative;
  padding-top: 2rem;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 20%;
    height: 1px;
    content: '';
    @include respond-to('tablet-sm') {
      width: calc(100% - 40px);
      right: 0;
    }
  }

  .mouseBottom {
    display: grid;
    gap: 2rem;
    grid-template-columns: 3fr 2fr;
    .description {
      margin-top: 1.5rem;
      font-size: 1.2rem;
      line-height: 1.25;
    }
    @include respond-to('tablet-sm') {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: calc(28vw + 2rem);
    background-color: black;
    width: 20%;
    height: 1px;
    content: '';
    @include respond-to('tablet-sm') {
      left: 40px;
      width: 100%;
    }
  }
}

.link {
  text-decoration: underline;
  font-weight: 700;
}
