@import '../../styles/mixins.scss';

.canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 150%;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
}
