@import '../../styles/mixins.scss';

.canvasContainer {
  position: fixed;
  top: -10vw;
  left: -7vw;
  width: 40vw;
  height: 40vw;
  background: transparent;
  overflow: hidden;
  z-index: 1;
}

.loaderCircle {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
