@import '../../styles/mixins.scss';

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.xl {
  height: 1.4rem;
  width: 1.4rem;
}

.lg {
  height: 1.2rem;
  width: 1.2rem;
}

.md {
  height: 1rem;
  width: 1rem;
}

.sm {
  height: 0.8rem;
  width: 0.8rem;
}

.arrow-right {
  mask-image: url(../../assets/icons/arrow-right.svg);
}
.arrow-left {
  mask-image: url(../../assets/icons/arrow-left.svg);
}
.f-logo {
  mask-image: url(../../assets/icons/f.svg);
}
.ine-logo {
  mask-image: url(../../assets/icons/ine.svg);
}
.eth {
  mask-image: url(../../assets/icons/eth.svg);
}
.twitter {
  mask-image: url(../../assets/icons/twitter.svg);
}
.instagram {
  mask-image: url(../../assets/icons/instagram.svg);
}
.discord {
  mask-image: url(../../assets/icons/discord.svg);
}
.gallery {
  mask-image: url(../../assets/icons/gallery.svg);
}
.canvas {
  mask-image: url(../../assets/icons/canvas.svg);
}
.details {
  mask-image: url(../../assets/icons/details.svg);
}
.about {
  mask-image: url(../../assets/icons/about.svg);
}

// logo exception sizes
.F {
  width: 25.25vw;
  height: 16.03vw;
}

.sm-F {
  width: 11vw;
  height: 7vw;
  @include respond-to('mobile') {
    width: 25vw;
    height: 15.5vw;
  }
}

.sm-INE {
  width: 30vw;
  height: 7vw;
  @include respond-to('mobile') {
    width: 66vw;
    height: 15.5vw;
  }
}
